[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pyfzf = "*"
pycryptodome = "*"
tqdm = "*"
urllib3 = "*"
PyQt6 = "*"
platformdirs = "*"
loguru = "*"
plyer = "*"
questionary = "*"
wheel = "*"
twine = "*"
python-semantic-release = "*"

[dev-packages]
flake8 = "*"
python-semantic-release = "*"
wheel = "*"
twine = "*"
