name: Build and Publish Snap

on:
  workflow_call:

jobs:
  build-snap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Snap
        uses: snapcore/action-build@v1
        id: build

      - name: Upload Snap artifact
        uses: actions/upload-artifact@v6
        with:
          name: snap
          path: ${{ steps.build.outputs.snap }}
          if-no-files-found: error

